# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# 업비트 API (현물)
UPBIT_ACCESS_KEY=
UPBIT_SECRET_KEY=

# OKX API (선물)
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=

# 서버
PORT=3001
